body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    background-color: var(--white);
    padding-bottom: 80px;
}

:root{
    --primary-red: #8D1B3D;
    --secondary-grey: #3F5B58;
    --tertiary-green: #597E50;
    --tertiary-blue: #002855;
    --tertiary-lightblue: #489ED8;
    --tertiary-orange: #F5821E;
    --white: #FFFFFF;
    --black: #000000;
    --grey-10:#3f5b581a;
    --green-60:#597e5099;
    --green-30: #597e504d;
    --blue-60:#00285599;
    --blue-30:#0028554d;
    --lightblue-60:#489ed899;
    --lightblue-30:#489ed84d;
    --orange-30:#f5821e4d;
}

/* button styling */

.button-primary{
    background-color: var(--primary-red) !important;
    border: none !important;
     border-radius: 0 !important;
      font-size: 12px !important;
}

.button-secondary{
    background: var(--white);
    border-color: var(--primary-red) !important;
    color: var(--primary-red) !important;
     border-radius: 0 !important;
      font-size: 12px !important;
}

button {
    padding: 10px;
    cursor: pointer;
    font-size: 12px !important;
    border-radius: 0 !important;
}

/* header */

header{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}

header span{
    font-weight: bold;
    color: var(--primary-red);
    font-size: 1rem;
    margin-top: 1rem;
}

.search-button{
    margin-top: 2rem;
}

/* modal */

.fds-modal{
    border: 1px black solid;
    width: 80%;
    max-height: 80vh;
}

.fds-modal .modal-content {
  display: flex !important;
  flex-direction: column !important;
  max-height: 80vh !important;
}

.fds-modal .modal-header,
.fds-modal .modal-footer {
  flex-shrink: 0 !important; 
}

.fds-modal .modal-body {
  flex: 1 1 auto !important;
  overflow-y: auto !important; 
  padding-right: 1rem !important;
}

/* footer */
footer{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

#task-form {
    margin-bottom: 30px;
    padding: 15px;
    width: 300px;
    border: 1px solid #aaa;
    border-radius: 8px;
}

#task-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
}


.task {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 6px;
}

@media (min-width:1024px){
    body{
       padding-bottom: 100px;
    }
}