body {
    font-family: Arial;
    margin: 20px;
}

#task-form {
    margin-bottom: 30px;
    padding: 15px;
    width: 300px;
    border: 1px solid #aaa;
    border-radius: 8px;
}

#task-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.task {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 6px;
}